---
title: About | LSF
layout: single-page

##---------------
## board memebers
##---------------
board:
- name: Prof. Rohan Samarajiva
  pic: 15
  position: Chairman of LSF, ICTA & LIRNEasia

- name: Dr. Srinath Perera
  pic: 11
  position: VP of Research, WSO2

- name: Prof. Louiqa Raschid
  pic: 13
  position: University of Maryland, USA

- name: Prof. Gihan Dias
  pic: 16
  position: University of Moratuwa and Chairman, LK Domain Registry

- name: Dr. Sanjiva Weerawarana
  pic: 10
  position: Founder of LSF and WSO2

##-------------
## team members
##-------------
team:
- name: Iromi Peiris
  pic: 8
  position: Administrative Officer

- name: Sherazad Hamit
  pic: 9
  position: Program Director

- name: Kosala Gangabadage
  pic: 2
  position: Senior Software Engineer

- name: Umayanga Gunawardhana
  pic: 5
  position: Software Engineer

- name: Nipuna Vithana
  pic: nipunav
  position: Software Engineer

- name: Yujith Isura
  pic: 1
  position: Software Engineer

- name: Dulanjana Devinda Bandara
  pic: dulanjanab
  position: Intern - Software Engineer

- name: Inzam Shahib
  pic: inzams
  position: Intern - Software Engineer

##-------------
## alumni
##-------------
alumni:
- name: Salman Salay
  pic: salmans
  project: Ministry of Education Project

- name: Sennen Randika
  pic: sennenr
  project: Ministry of Education Project

- name: Mohamed Nizar
  pic: 4
  project: Ministry of Education Project

- name: Gayani Abeykoon
  pic: gayania
  project: Ministry of Education Project

- name: Nirmani Warakaulla
  pic: nirmaniw
  project: Ministry of Education Project

- name: Pabasara Patabendi
  pic: pabasarap
  project: Ministry of Education Project

- name: Janith Silva
  pic: 17
  project: Ministry of Education Project

- name: Dinuka De Silva
  pic: 3
  project: Election commission Project

- name: Clement Fernando
  pic: 6
  project: Election commission Project

- name: Tharanga Rajapaksha
  pic: tharanga
  project: Copper Email Solution

- name: Anushka Uditha
  pic: anushka
  project: Copper Email Solution

- name: Tharindu Madushanka
  pic: 7
  project: Karsha Financial Modelling

- name: Kasun Perera
  pic: kasunp
  project: Karsha Financial Modelling

- name: Dineth Madusara
  pic: dinethm
  project: Karsha Financial Modelling

- name: Asen Sanjula
  pic: karsha_asen
  project: Karsha Financial Modelling

- name: Sheranga Gamwasam
  pic: karsha_sheranga
  project: Karsha Financial Modelling

- name: Sandun Tharaka
  pic: karsha_sandun
  project: Karsha Financial Modelling

- name: Yasitha Dhananjaya
  pic: karsha_yasitha
  project: Karsha Financial Modelling

- name: Ruwan Sri Wickramarathna
  pic: karsha_ruwan
  project: Karsha Financial Modelling

- name: Gihan Tharanga
  pic: gihant
  project: Karsha Financial Modelling

- name: Randula Jayathilaka
  pic: karsha_randula
  project: Karsha Financial Modelling

- name: Najini Harischandra
  pic: karsha_najini
  project: Karsha Financial Modelling

- name: Thiwanka Makumburage
  pic: consti_thiwanka
  project: Sri Lanka Innovation Dashboard

- name: Amila Eranda Dharmakeerthi
  pic: consti_amila
  project: Sri Lanka Innovation Dashboard

- name: Lalanke Athuda
  pic: consti_lalanka
  project: Sri Lanka Innovation Dashboard

- name: Chamindra De Silva
  pic: sahana_Chamindra
  project: Sahana Disaster Management

- name: Darmendra Pradeeper
  pic: sahana_Pradeeper
  project: Sahana Disaster Management

- name: Mifan Careem
  pic: sahana_Mifan
  project: Sahana Disaster Management

- name: Ravindra De Silva
  pic: sahana_Ravindra
  project: Sahana Disaster Management

- name: Dr. Srinath Perera
  pic: 11
  project: APACHE AXIS

- name: Dr. Jaliya Ekanayake
  pic: axis_Jaliya
  project: APACHE AXIS

- name: Dr. Chathura Herath
  pic: axis_Chathura
  project: APACHE AXIS

- name: Dr. Eran Chinthaka
  pic: axis_Chinthaka
  project: APACHE AXIS

- name: Dr. Deepal Jayasinghe
  pic: axis_Deepal
  project: APACHE AXIS

- name: Dr. Ajith Ranabahu
  pic: axis_Ajith
  project: APACHE AXIS

- name: Dr. Ruchith Fernando
  pic: axis_ruchith
  project: APACHE AXIS

- name: Lahiru Sandakith
  pic: axis_lahiru
  project: APACHE AXIS

- name: Dr. Saminda Abeyruwan
  pic: axis_Samindha
  project: APACHE AXIS

- name: Dr. Kaushalye Kapuruge
  pic: axis_kaushalye
  project: APACHE AXIS

- name: Dr. Dasarath Weerathunga
  pic: axis_Dasarath
  project: APACHE AXIS
    
##-----------
## supporters
##-----------
supporters:
- name: StartupX Foundry
  pic: sxf-logo.png
  url: ""
- name: WSO2
  pic: wso2-logo.png
  url: ""
- name: University of Maryland
  pic: umd-logo.png
  url: ""
- name: LK Domain Registry
  pic: lk-domain-registry-logo.png
  url: ""
- name: CeynetAsia
  pic: ceynet-logo.png
  url: ""


##----------
## accolades
##----------
accolades:
- name: Free Software Award 2008
  project: Project Sahana
  pic: sahana.jpg
- name: eSwabhimani 2009 - Special Mention
  project: Project Dcache
  pic: Dcache.jpg
- name: The Manthan Award South Asia 2010
  project: Project Ninithi
  pic: manthan_ninithi.jpg
- name: eSwabhimani 2010 - Winner
  project: Project Ninithi
  pic: eSwabhimani_ninithi.jpg

---

<!-- About Section -->
<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About LSF</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <p>Lanka Software Foundation (LSF) is a non-profit company (limited by guarantee) founded in 2003 by Dr. Sanjiva Weerawarana and Mr. Jivaka Weeratunge. Along with Sanjiva and Jivaka, the other subscribers of the company are Dr. Indrajith Coomaraswamy, Dr. Kamal Weeraperuma, Mr. Ralph de Lanerole, Prof. Saman Amarasinghe, Mr. Paul Ratnayeke, Prof. Kumar Wickramasinghe and Dr. Yohan Weerasuriya, and the late Prof. V.K. Samaranayake.</p>
                <p>In the first 15 years, LSF focused on providing a platform for Sri Lankan software engineers to create open source software technology that would impact the world of software. LSF has been very successful in that regard: we have created a brand for Sri Lanka as a country that produces a lot of open source software by becoming a leading contributor to the Apache Software Foundation (the leading open source community in the world), by creating the Sahana disaster management system after the 2004 tsunami (which is now its own US-based foundation: Sahana Software Foundation) and various other projects.</p>
                <p>LSF has always been funded by grants from various organizations, both in Sri Lanka and outside.</p>
                <p>In August 2018, LSF changed course from creating technology to helping the Government of Sri Lanka deploy technology to improve governance and the quality of services provided to citizens. This project is called Code for Sri Lanka.</p>
            </div>

            <!-- board members -->
            <div class="row">
                <h3>Board</h3>
                <hr/>
                <div class="row row-eq-height">
                {% for member in page.board %}
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img src="{{ site.baseurl }}/img/people/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                          <h4>{{ member.name }}</h4>
                          <p class="text-muted">{{ member.position }}</p>
                          <ul class="list-inline social-buttons">
                              {% for network in member.social %}
                              <li>
                                  <a href="{{ network.url }}">
                                      <i class="fa fa-{{ network.title }}"></i>
                                  </a>
                              </li>
                              {% endfor %}
  
                          </ul>
                      </div>
                  </div>
                  {% endfor %}
                </div>
            </div>

            <!-- team memebers -->
            <div class="row" id="team">
                <h3>Our People</h3>
                <hr/>
                <div class="row row-eq-height">
                {% for member in page.team %}
                  <div class="col-sm-3 text-center team-member">
                      <div class="members">
                          <img src="{{ site.baseurl }}/img/people/{{ member.pic }}.png" class="img-responsive img-circle" alt="" >
                          <h4>{{ member.name }}</h4>
                      </div>
                      <p class="text-muted">{{ member.position }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>

            <!-- alumni -->
            <div class="row" id="alumni">
                <h3>Forever LSF-ers</h3>
                <hr/>
                <div class="row row-eq-height">
                {% for member in page.alumni %}
                  <div class="col-sm-2 text-center team-member">
                      <div class="members">
                          <img src="{{ site.baseurl }}/img/people/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                          <h5 >{{ member.name }}</h5>
                      </div>
                      <p class="text-muted">{{ member.project }}</p>
                  </div>
                {% endfor %}
              </div>
            </div>

            <!-- our supporters -->
            <div class="row">
              <h3>Supporters</h3>
              <hr/>
              <div class="row equal-height">
                {% for item in page.supporters %}
                  <div class="col-sm-2 text-center">
                      <div class="supporters vcenter">
                          <img src="{{ site.baseurl }}/img/logos/{{ item.pic }}" class="img-responsive" alt="" style="border: none;">
                      </div>
                      <h5 class="supporters-h5">{{ item.name }}</h4>
                  </div>
                {% endfor %}
              </div>
            </div>

        </div>
    </section>
