---
title: About | LSF
layout: single-page

##---------------
## board memebers
##---------------
board:
- name: Prof. Rohan Samarajiva
  pic: 15
  position: Chairman of LSF, ICTA & LIRNEasia

- name: Dr. Srinath Perera
  pic: 11
  position: VP of Research, WSO2

- name: Prof. Louiqa Raschid
  pic: 13
  position: University of Maryland, USA

- name: Prof. Gihan Dias
  pic: 16
  position: University of Moratuwa and Chairman, LK Domain Registry

- name: Dr. Sanjiva Weerawarana
  pic: 10
  position: Founder of LSF and WSO2

##-------------
## team members
##-------------
team:
- name: Iromi Peiris
  pic: 8
  position: Administrative Officer

- name: Sherazad Hamit
  pic: 9
  position: Program Director

- name: Mohamed Nizar
  pic: 4
  position: Senior Software Engineer

- name: Kosala Gangabadage
  pic: 2
  position: Senior Software Engineer

- name: Umayanga Gunawardhana
  pic: 5
  position: Software Engineer

- name: Nipuna Vithana
  pic: nipunav
  position: Software Engineer

- name: Sennen Randika De Almeida
  pic: sennenr
  position: Intern - Software Engineer

##-------------
## alumni
##-------------
alumni:
- name: Gayani Abeykoon
  pic: gayania
  project: Ministry of Education Project

- name: Nirmani Warakaulla
  pic: nirmaniw
  project: Ministry of Education Project

- name: Pabasara Patabendi
  pic: pabasarap
  project: Ministry of Education Project

- name: Janith Silva
  pic: 17
  project: Ministry of Education Project

- name: Clement Fernando
  pic: 6
  project: Election Comission Project

- name: Dinuka De Silva
  pic: 3
  project: Election Comission Project

- name: Yujith Isura
  pic: 1
  project: Election Comission Project

- name: Tharanga Rajapaksha
  pic: tharanga
  project: Copper

- name: Anushka Uditha
  pic: anushka
  project: Copper

- name: Tharindu Madushanka
  pic: 7
  project: Karsha

- name: Dr Srinath Perera
  pic: 11
  project: AXIS
    
##-----------
## supporters
##-----------
supporters:
- name: StartupX Foundry
  pic: sxf-logo.png
  url: ""
- name: WSO2
  pic: wso2-logo.png
  url: ""
- name: University of Maryland
  pic: umd-logo.png
  url: ""
- name: LK Domain Registry
  pic: lk-domain-registry-logo.png
  url: ""
- name: Ceynet
  pic: ceynet-logo.png
  url: ""


##----------
## accolades
##----------
accolades:
- name: Free Software Award 2008
  project: Project Sahana
  pic: sahana.jpg
- name: eSwabhimani 2009 - Special Mention
  project: Project Dcache
  pic: Dcache.jpg
- name: The Manthan Award South Asia 2010
  project: Project Ninithi
  pic: manthan_ninithi.jpg
- name: eSwabhimani 2010 - Winner
  project: Project Ninithi
  pic: eSwabhimani_ninithi.jpg

---

<!-- About Section -->
<section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About LSF?</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <p>Lanka Software Foundation (LSF) is a non-profit company (limited by guarantee) founded in 2003 by Dr. Sanjiva Weerawarana and Mr. Jivaka Weeratunge. Along with Sanjiva and Jivaka, the other subscribers of the company are Dr. Indrajith Coomaraswamy, Dr. Kamal Weeraperuma, Mr. Ralph de Lanerole, Prof. Saman Amarasinghe, Mr. Paul Ratnayeke, Prof. Kumar Wickramasinghe and Dr. Yohan Weerasuriya, and the late Prof. V.K. Samaranayake.</p>
                <p>In the first 15 years, LSF focused on providing a platform for Sri Lankan software engineers to create open source software technology that would impact the world of software. LSF has been very successful in that regard: we have created a brand for Sri Lanka as a country that produces a lot of open source software by becoming a leading contributor to the Apache Software Foundation (the leading open source community in the world), by creating the Sahana disaster management system after the 2004 tsunami (which is now its own US-based foundation: Sahana Software Foundation) and various other projects.</p>
                <p>LSF has always been funded by grants from various organizations, both in Sri Lanka and outside.</p>
                <p>In August 2018, LSF changed course from creating technology to helping the Government of Sri Lanka deploy technology to improve governance and the quality of services provided to citizens. This project is called Code for Sri Lanka.</p>
            </div>

            <!-- board members -->
            <div class="row">
                <h3>Board</h3>
                <hr/>
                {% for member in page.board %}
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{{ site.baseurl }}/img/people/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.position }}</p>
                                <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
        
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
            </div>

            <!-- team memebers -->
            <div class="row">
                <h3>Team</h3>
                <hr/>
                {% for member in page.team %}
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{{ site.baseurl }}/img/people/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.position }}</p>
                                <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
        
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
            </div>

            <!-- alumni -->
            <div class="row">
                <h3>Alumni</h3>
                <hr/>
                {% for member in page.alumni %}
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="{{ site.baseurl }}/img/people/{{ member.pic }}.png" class="img-responsive img-circle" alt="">
                                <h4>{{ member.name }}</h4>
                                <p class="text-muted">{{ member.project }}</p>
                                <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li>
                                        <a href="{{ network.url }}">
                                            <i class="fa fa-{{ network.title }}"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
        
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
            </div>

            <!-- our supporters -->
            <div class="row">
              <h3>Supporters</h3>
              <hr/>
              {% for item in page.supporters %}
                <div class="col-sm-3">
                    <div class="team-member supporters">
                        <img src="{{ site.baseurl }}/img/logos/{{ item.pic }}" class="img-responsive" alt="" style="border: none;">
                        <h4>{{ item.name }}</h4>
                    </div>
                </div>
              {% endfor %}
            </div>


            <!-- accolades -->
            <div class="row">
              <h3>Accolades</h3>
              <hr>
              {% for item in page.accolades %}
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/accolades/{{ item.pic }}" class="img-responsive" alt="" >
                        <h4>{{ item.name }}</h4>
                        <p class="text-muted">{{ item.project }}</p>
                    </div>
                </div>
              {% endfor %}
            </div>

        </div>
    </section>
