<!-- get-involved Section -->
<section id="get-involved">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center  mx-auto">
                <h2 class="section-heading mx-auto" style="background-color: white; width: fit-content; width: -moz-fit-content;">Get involved</h2>
                <p class="lead  mx-auto" style="background-color: white; width: fit-content; width: -moz-fit-content;">
                    Our volunteers are courageous people working on the toughest problems facing our country today
                </p>
            </div>
        </div>
        <div class="row text-center">
            <p class="lead  mx-auto" style="background-color: white;width: fit-content; width: -moz-fit-content;">Join us on our journey to transform government and impact lives</p>
            <a href="/get-involved" class="page-scroll btn btn-primary">Volunteer Now</a>
        </div>
    </div>
</section>
