<!-- get-involved Section -->
<section id="get-involved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Get involved</h2>
                    <p class="lead">
                        Our volunteers are courageous people working on the toughest problems facing our country today
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <p class="lead">Join us on our journey to transform government and impact lives</p>
                <a href="/volunteer" class="page-scroll btn btn-primary">Volunteer Now</a>
            </div>
        </div>
    </section>

    <!-- <section class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Elections</h2>
                        <p class="lead">
                                We’re helping the Election Commission to build software to manage and run elections
                        </p>
                    </div>
                </div>
                <div class="row text-center">
                    <a href="/" class="page-scroll btn btn-primary">Check it out</a>
                </div>
            </div>
        </section> -->