<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 style="line-height: 2;">We’ve been building large-scale open source systems for more than 15 years, with government and communities, to address a range of challenges from disaster management to elections, education to the environment.</h4>
            </div>
            <!-- <div class="col-lg-6 text-center" style="background-image: url(/img/accolades/sahana.jpg); background-size: cover;">

            </div> -->
        </div>
    </div>
</section>
<!-- Services page -->
<section class="bg-danger text-white">
    <div class="container">
        <div class="row row-eq-height">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Code for Sri Lanka</h2>
                <p class="lead">
                    Our vision is to improve technology that runs Sri Lanka by voluntarily helping the Government digitally transform by:
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Creating Technology</h4>
                <p>Creating open source technology solutions that are necessary for the government to deploy key infrastructure at scale (e.g. email, collaboration, identity, and data & document archival)</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Architecting Solutions</h4>
                <p>Helping government organizations architect digital platforms for themselves by looking at the long term goals of a digital Sri Lanka</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Building Open Source Solutions</h4>
                <p>Working directly with government organizations to build vertical open source software solutions</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center" style="padding-top: 50px;">
                <a href="/projects" class="page-scroll btn btn-primary">Learn More</a>
        </div>
    </div>
</section>