<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: black;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll" href="/#page-top">
                    <img class="brand-logo" src="{{ site.baseurl }}/img/logos/lsf-logo-full-white.png" alt="Lanka Software Foundation">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Who We Are <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-none" style="background-color: black;">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/about/#team">Our People</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What We Do <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-none" style="background-color: black;">
                        <li><a href="/projects/codeforsl">Code for Sri Lanka</a></li>
                        <li><a href="/projects/technology">Technology</a></li>
                        <li><a href="/projects/past-projects">Past Projects</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/#blogs">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> LSF Fellows <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-none" style="background-color: black;">
                        <li><a href="/fellowships">Program Details</a></li>
                        <li><a href="/careers">Apply Now</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/get-involved" >Get Involved </a>
                    <!-- <ul class="dropdown-menu bg-none" style="background-color: black;">
                        <li><a href="/get-involved">Join our mailing lists</a></li>
                        <li><a href="/get-involved">Volunteer</a></li>
                    </ul> -->
                </li>
                <li>
                    <a class="page-scroll" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>